@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

div, span, p, a {
    font-family: 'Poppins', sans-serif;
}

.card-container {
    align-items: center;
    justify-content: space-between;
}

.card {
    width: 20rem;
}

@media only screen and (max-width:1199px) {
    .card-container {
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 100%;
    }
}