@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

div, span, p, a {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(45deg, #d7dee9, #f8fbff 33%, #f8fbff 66%, #d7dee9);
}

.bg-light {
    background-color: transparent !important;
}

#hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.heroleft {
    max-width: 50%;
    padding-right: 2rem;
}

.heroright {
    max-width: 50%;
    padding-left: 2rem;
}

.heroright img {
    max-height: 440px;
}

@media only screen and (max-width:768px) {
    #hero-section {
        flex-direction: column;
        padding-top: 0rem !important;
    }

    .heroleft {
        max-width: 100%;
        padding-right: 0;
        order: 2;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heroleft h1 {
        text-align: center;
    }

    .heroleft p {
        text-align: center;
    }

    .heroright {
        max-width: 100%;
        padding-left: 0rem;
        order: 1;
        margin-bottom: 1rem;
    }
}

.feature-icon {
    height: 40px;
    margin-right: 1rem;
}